

<div class="row">
    <div class="col-3"></div>
    <div class="card border-primary mt-5 px-2 col-6">
        <form [formGroup]="userData" (ngSubmit)="checkData()">
            <div>
                <label for="userId" class="form-label">User ID</label>
                <input type="text" name="userId" class="form-control" id="userId" formControlName="userId" >
            </div>
            <div>
                <label for="userpass" class="form-label">User Password</label>
                <input type="text" class="form-control" name="userPass" id="userpass" formControlName="userPass">
            </div>
            <!-- <div>
                <label for="urole" class="form-label">Role</label>
                
                <select name="role" id="urole" class="form-control" formControlName="role">
                    <option [value]="job" id="urole" *ngFor="let job of roles" >
                        {{job}}
                    </option>
                </select>
            </div> -->
            <br>
            <button type="submit" class="btn btn-outline-primary btn-sm ">Submit</button>&nbsp;
            
        </form>
    </div>
    <div class="col-3"></div>
</div>
<!-- <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card border-primary text-center mt-5">
            <h2 class="card-title">Login Form</h2>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                  @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                  }
                  @if (emailFormControl.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                  }
                </mat-form-field>

                <button mat-stroked-button color="primary" (click)="checkData()">Login</button><br><br>
              </form>
        </div>
    </div>
    <div class="col-4"></div>
</div> -->